.modal__content {
  max-width: 670px;
}
.modal__content_type_confirm {
  position: relative;
  flex-direction: column;
  width: 670px;
  height: 280px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__confirm-caption .modal__confirm-caption-confirmation {
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}
.modal__button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* modal close button */
.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  margin: 0;
}

.modal__button:hover {
  cursor: pointer;
}
