.modal__type-confirm {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal__delete-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 670px;
  height: 280px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  position: relative;
}

.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}
.modal__close-icon {
  width: 20px;
  height: 20px;
  fill: #000;
}
.modal__confirm-text {
  font-family: "";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.modal__confirm-action {
  font-family: "";
}

.modal__button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__button:hover {
  cursor: pointer;
}

.modal__confirm-button {
}
