.modal__label {
  background-image: url(../../assets/closeIconGrey.svg) center no-repeat;
}

.modal__label_type_radio {
}

.modal__input {
}

.modal__radio-button {
  display: flex;
  flex-direction: column;
}

.modal__legend {
}
