.page {
  max-width: 1440px;
  max-height: 1000px;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Cabinet Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media (max-width: 820px) {
  .page {
    width: 100%;
    max-width: 820px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .page__content {
    width: 80%;
  }
}
