.page {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Cabinet Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
