.main {
  flex-grow: 1;
}
.cards {
  gap: 10px;
  padding: 10px;
  margin: 0;
}
.cards__list {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  grid-auto-rows: 328px;
  padding: 20px;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.cards__text {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding: 10px 0 34px;
  font-size: 20px;
}
@media (max-width: 768px) {
  .cards__list {
    grid-template-columns: 1fr;
    /* single column layout */
  }
}
