.modal__content_type_image {
  padding: 0;
  width: 498px;
  height: 610px;
  overflow: hidden;

  background-color: white;
  border: none;
  /* cursor: pointer;
  top: 24px;
  right: 24px; */
}

.modal__close-preview {
  background: url(../../assets/closeIconGrey.svg.svg) center no-repeat;
  background-color: red;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.modal__image {
  background: url(../../assets/closeIconGrey.svg.svg) no-repeat;
  gap: 0px;
  left: 471px;
  top: 106px;
  height: 498px;
  width: 498px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.modal__footer-caption {
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  width: auto;
}
.modal__weather {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 200px;
}

.modal__caption {
  padding: 0;
  margin: 0;
  font-family: "Cabinet Grotesk";
}

.modal__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* those three above will align its children horizontally  and distribute them with space in between*/
  padding: 2px 32px 0px 32px;
  background-color: white;
  height: 112px;
  gap: 0;
  box-sizing: border-box;
  width: 100%;
}
.modal__delete {
  display: flex;
  flex-direction: column;
  margin-right: 20;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.modal__delete-btn {
  padding: 0;
  color: #ff4d00;
  font-family: "Cabinet Grotesk";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  width: 200px;
  background-color: white;
  border: none;
}
