.modal__content_type_image {
  padding: 0;
  max-width: 498px;
  max-height: 610px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url(../../assets/closeicon.png);
  background-color: transparent;
  border: none;
  cursor: pointer;
  top: 24px;
  right: 24px;
}

.modal__image {
  gap: 0px;
  left: 471px;
  top: 106px;
  height: 498px;
  width: 100%;
  border-radius: 16px 16px 0px 0px;
}

.modal__weather {
  font-family: "CabinetGrotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.modal__caption {
  font-family: "CabinetGrotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 12px;
}

.modal__footer {
  padding-left: 32px;
  padding-bottom: 69px;
  display: flex;
  flex-direction: column;
}
.modal__delete-btn {
  border-style: none;
  background-color: #fff;
  padding: 0;
  color: #ff4d00;
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}
