.footer {
  display: flex;
  height: 20px;
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  line-height: 20px;
  margin-bottom: 10px;
  padding-top: 50px;
  font-family: "Cabinet Grotesk", sans-serif;
  justify-content: space-between;
}
.footer__copyright .footer__year {
  font-family: "CabinetGrotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
}
.footer__year {
  text-align: right;
}
