.clothes__section {
  width: 100%;
}

.clothes__caption .Item__label {
  display: flex;
  font-family: "CabinetGrotesk-Bold";
  font-size: 20px;
  font-weight: 700;
  gap: 10px;
}

.clothes__text {
  padding-right: 20px;
}

.clothes__button {
  border: none;
  background: none;
  color: grey;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.clothes-section__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
  position: relative;
}
